/* Coupon description/descrizione backend */
#woocommerce-coupon-description {
    pointer-events: none;
}
.acf-postbox.seamless>.inside>.acf-field.order-departure-date {
    display: none;
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
}
table.shop_table {
    width: 100%;
    margin-bottom: 30px!important;
    text-align: left;
}
#content-area table td, #content-area table th, #content-area table tr, #main-content table.cart td, #main-content table.cart th, #main-content table.cart tr, table.cart td, table.cart th, table.cart tr {
    max-width: 100%;
    padding: .857em .587em;
}

#add_payment_method table.cart td, #add_payment_method table.cart th, .woocommerce-cart table.cart td, .woocommerce-cart table.cart th, .woocommerce-checkout table.cart td, .woocommerce-checkout table.cart th {
    vertical-align: middle;
}
.woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
}

/* ----------------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'fontello';
    src: url('font/fontello.eot?58915906');
    src: url('font/fontello.eot?58915906#iefix') format('embedded-opentype'),
         url('font/fontello.woff2?58915906') format('woff2'),
         url('font/fontello.woff?58915906') format('woff'),
         url('font/fontello.ttf?58915906') format('truetype'),
         url('font/fontello.svg?58915906#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?58915906#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: #7AB400;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-ok:before { content: '\0e80'; } /* '຀' */
  .icon-ok-circled:before { content: '\e800'; } /* '' */
  .icon-check:before { content: '\e801'; } /* '' */
  .icon-ok-1:before { content: '\e802'; } /* '' */
  .icon-ok-outline:before { content: '\e803'; } /* '' */
  .icon-ok-2:before { content: '\e804'; } /* '' */
  .icon-ok-3:before { content: '\e805'; } /* '' */
  .icon-ok-4:before { content: '\e806'; } /* '' */
  .icon-ok-5:before { content: '\e807'; } /* '' */
  .icon-ok-6:before { content: '\e808'; } /* '' */
